.footer{
  display: inline-flex;
  margin-top: 1rem;
  padding: 1rem;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  align-content: 'center';
}

.copyright {
  color: white;
  margin-right: 20px;
  padding-left: 400px;
}

.footer button.nav {
  background-color: transparent;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
}


 